@font-face {
    font-family: 'Imperial Script';
    src: url("fonts/ImperialScript-Regular.ttf") format("truetype");
} 

section{
    margin-left: 1cm;
    margin-top: 1cm;
}

figcaption{
    float: left;
    margin-right: 25%;
    width: 60vh;
    text-align: left;
    
}
img{
    width: 10vw;
    height: 10vw;
}



