@font-face {
    font-family: 'Lao Sans Pro'; /*a name to be used later*/
    src: url("fonts/Lao-Sans-Pro.ttf") format("truetype"); /*URL to font*/
}

img{
    width: 50%;
    max-width: 50%;
    height: auto;
}
div p{
    font-family: 'Lao Sans Pro';
    font-size: 150%;
    text-align: center;
}

div a{
    font-family: 'Lao Sans Pro';
    color: black;
    font-weight: bold;
}
.center div {
    display: block;
    width: auto;
    text-align: center;
}
.article1,.coolio,.orelsan,.nelly{
    text-align: center;
    border-bottom: 2px solid gray;
    align-items: center;
}